@import "tailwindcss";

:root {
  font-family:
    Inter,
    system-ui,
    sans-serif;

  color-scheme: dark;

  --bg-primary: #050816;
  --bg-secondary: #0d1224;

  --card-bg: rgba(255, 255, 255, 0.05);

  --text-primary: #ffffff;
  --text-secondary: #9ca3af;

  --accent: #7c3aed;
  --accent-light: #8b5cf6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: var(--bg-primary);
  color: var(--text-primary);

  overflow-x: hidden;
}