@import "tailwindcss";

:root {
  --bg-primary: #050816;
  --text-primary: #ffffff;
}

[data-theme="light"] {
  --bg-primary: #f5f7fb;
  --text-primary: #0f172a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: var(--bg-primary);
  color: var(--text-primary);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}